.cats {
    width: 350px;
    height: 350px;
    display: inline-block;
    border: 5px solid white;
    border-radius: 50%;
    padding-left: 20px;
}

.wallpaper{
    margin: 0 auto;    
}

h1 {
    font-family: Monospace;
    margin: 4 auto;
    text-align: center;
    font-size: 40px;
}

body{
    background-color: white;
    color: grey;
    width:800px;
    margin: 0 auto;
}

.photo {
    width: 80px;
    height: 80xp;
    float: left;
}

.about {
    margin-top: 50px;
    width: 80%;
}

.about h2{
    font-size: 40px;
}

.clearfix{
    clear:both;
}

.contact {
    margin-top: 50px;
}

.contact div{
    margin-bottom: 20px;
}

.nav-bar ul{
    list-style:none; 
    font-size: 20px;
}

.nav-bar li{
    display: inline-block;
    padding: 10px;
    margin-left: 20px;
}

.nav-bar li:hover{
    padding-bottom: 8px;
    border-bottom: 2px solid orange;
}
